.menu_login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn_crear_cuenta {
  background-color: #fc5a08;
  color: white;
  font-weight: bold;
  border: none;
}
.btn_crear_cuenta:hover {
  background-color: #d15c21;
}

.btn_heacer_componet {
  width: 150px;
}

/*Componente HEaderComponent*/
.btn_header_component {
  width: 150px;
}
